.nav-item a:hover {
  cursor: pointer;
}

.nav-link {
  font-size: x-large;
}
.loginb {
  background-image: url(./pexels-cottonbro-studio-6214934.jpg);
  background-size: cover;
  width: 100%;
  height: 719px;
}
