.nav-item a:hover {
  cursor: pointer;
}
.nav-link {
  font-size: x-large;
}

.signupb {
  background-image: url(./pexels-pixabay-159711.jpg);
  background-size: cover;
  width: 100%;
  height: 719px;
}
